<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  Your IP address is {{ .IP }}<p>
  Your host name is  {{ .Hostname }}<p>
  Get data via <a href="/text">text<a> or <a href="/json">JSON</a><p>
<body>
</html>